.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

/* direction class */
.direction {
    font-family: Georgia, serif;
    font-size: 14px;
    color: black;
    background-color: #b4bee1;
    transition: background-color 0.3s, color 0.3s;
}

/* hover effect for direction class */
.direction:hover {
    background-color: #5c3232;
    color: rgb(236, 100, 193);
}

/* character classes */
.IMP {
    color: rgb(21, 216, 83);
}


.JUDGE {
    color: rgb(213, 21, 188);
}

.POORMAN {
    color: rgb(104, 13, 231);
} 

table,
td,
th {
    margin: 1px solid black;
    padding: 10px;
    border: 3px solid rgb(115, 114, 110);
    text-align: center;
}

td {
    color: rgb(83, 192, 154);
}

th {
    color: brown;
    background-color: rgb(155, 161, 215);
}

tr:nth-child(even) {
    background-color: rgb(97, 85, 179);
}

tr:nth-child(odd) {
    background-color: rgb(220, 104, 98);
}


.IMP:hover {
    color: rgb(211, 40, 194);
    filter:blur(2px);
    box-shadow: 2px 5px 6px 7px rgb(45, 193, 209);
    border: 7px solid blanchedalmond;
}


.JUDGE:hover {
    color: rgb(91, 28, 208);
    filter:blur(2px);
    box-shadow: 2px 5px 6px 7px rgb(30, 158, 221);
    border: 7px solid rgb(115, 114, 110);
}

.POORMAN:hover {
    color: rgb(35, 203, 30);
    filter:blur(2px);
    box-shadow: 2px 5px 6px 7px rgb(20, 165, 201);
    border: 7px solid olive ;
} 
